// $primary-color: #48487f;
// $primary-color: #a82020;
$primary-color: #07c8d1;
// $primary-color: rgb(39, 37, 37);
// $dark-color: #0b405a;
$dark-color: #2d2c3c;
$light-color: #b7bcbf;
$bg-color: #2d2c3c;
$link-color: #fff;
$text-color: #fff;
$shadow-color: #171722;
